/*
Template: Techex - Information & Technology HTML Template
Author: RRDevs
Author URI: https://themeforest.net/user/rrdevs
Description: Information & Technology HTML Template
Version: 1.0
*/


/*
=================================
|***    Table of contents:   ***|
=================================

1. General styles
2. Typography
3. Helpers
4. Preloader
5. Go up button
6. Header and navigation
7. Hero Section
8. About us
9. Causes
10. Fun facts
11. Events
12. Blog

Main Style file-> assets/css/style.css
*/

